
<%= render 'users/lefthand_column', user: @user, book: @book %>

	<div class="col-xs-9">
		<h2>Books</h2>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
			</thead>
			<% @books.each do |book| %>
			<tbody>
				<tr>
					<td><%= link_to user_path(book.user[:id]) do %>
						<%= attachment_image_tag book.user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %></td>
					<td><%= link_to book.title, book_path(book.id) %></td>
					<td><%= book.body %></td>

					<!-- いいねここから -->
					<td>
						<% if book.favorited_by?(current_user) %>
						 <td>
						 	<%= link_to  book_favorites_path(book.id),  method: :delete do %>
						 	🖤 <%= book.favorites.count %>
						 </td>
						<% end %>
						<% else %>
						 <td>
						 	<%= link_to  book_favorites_path(book.id),  method: :post do %>
						 	🤍 <%= book.favorites.count %>
						 </td>
						 	<% end %>
						<% end %>
					</td>
					<!-- いいねここまで -->
					<% end %>

					<!-- コメント数 -->
					<td>コメント数：<%= book.book_comments.count %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>

